body{
  background-color: rgb(24, 24, 24);
  color: black;
}
.container{
  background-color: rgb(255, 255, 255);
  width: 350px;
  position: absolute;
  padding: 30px;
  top: 25%;
  left: 30%;

}
.title{
  background-color: rgb(255, 0, 131);
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 1;
  padding: 0 20px;  
}



