body {
  margin: 0;
  font-family: "Lato", serif;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.container-small {
  padding: 50px;
  margin-bottom: 50px;
}
.color-grey {
  background-color: #666666;
  padding: 70px;
}
.container-big {
  background-color: white;
  position: relative;
  padding: 80px 20px 10px 20px;
}
.sub-heading {
  position: absolute;
  background-color: #ffbf00;
  top: 8px;
  left: 1px;
}
