/* Add max-width: 100%; to .container to ensure proper rendering on smaller screens. */

body {
  margin: 0;
}
h2 {
  text-align: center;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.sec-1 {
  padding: 50px;
}

.sec-2 {
  background-color: #999999;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
}
.container-sec {
  background-color: white;
  margin-top: 40px;
  color: black;
  padding: 50px 15px;
}
.div-float {
  background-color: rgb(253, 178, 9);
  width: 50%;
  padding: 1px;
  position: relative;
  top: 100px;
}
