body {
  margin: 0;
  font-family: "Lato", serif;
}
.section-one {
  height: 270px;
}
.section-two {
  background-color: #666666;
  height: 325px;
  padding: 45px 0;
}
.container-1 {
  width: 415px;
  margin-left: 264px;
}
.container-2 {
  width: 808px;
  margin-left: 232px;
  background-color: white;
  padding: 25px 15px 15px 15px;
}
.sub-heading {
  background-color: #ffbf00;
}
p {
  font-size: 20px;
}
.section-p {
  font-weight: 400;
  line-height: 30px;
}
h1,
h2 {
  font-weight: 800;
}
h1 {
  margin-top: 96px;
  font-size: 32px;
  line-height: 38.4px;
  color: #000000;
}
h2 {
  line-height: 28.8px;
  font-size: 24px;
}
span {
  font-weight: 800px;
  color: #009966;
}
.section-two p {
  font-weight: 500;
}
.section-one-para-one {
  margin-top: 46px;
}
